*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --DarkGrey: #282828;
    --DarkBlue: #141922;
    --LightGrey: #717179;
    --Green: #ADFF2F;
}

/* STRUTTURA */

.container{
    display: flex;
}

.aside{
    height: calc(100vh - 100px);
    width: 268px;
    background-color: #000000;
    z-index: 20;
    color: var(--LightGrey);
    overflow-y: hidden;
}

.wrapper{
    background-color: #141922;
    overflow-y: scroll;
    width: calc(100% - 267px);
    height: calc(100vh - 100px);
} 

header{
    height: 100px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: flex-end;
    z-index: 80;
    
}

.upgrade-button{
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    border: 1px solid var(--LightGrey);
    display: inline-block;
    align-self: center;
    margin-right: 20px;
    text-transform: uppercase;
}

.upgrade-button:hover{
    transform: scale(1.10);
}

/* SIDEBAR */

.big-logo{
    width: 70%;
    margin: 0 auto 10px 10px;
    display: block;
    padding: 20px;
}

.small-logo{
    width: 60%;
    margin: 20px auto;
    display: none;
}

.aside-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 95.25px);
}

.aside-up{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.aside-up>ul{
    list-style: none;
    margin-bottom: 20px;
}

.aside-up>ul>li{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
}

.aside-icon{
    width: 12%;
}

.li-active{
    border-left: 3px solid var(--Green);
}

.li-no-active{
    border-left: 3px solid black;
}

.li-no-active:hover{
    border-left-color: #ADFF2F;
}

.aside-playlist{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.add-playlist:hover{
    color: white;
    cursor: pointer;
}


.aside-playlist>strong{
    display: inline-block;
    margin-bottom: 10px;
}

.fa-solid.fa-plus{
    padding: 10px;
    font-size: 25px;
    color: #000000;
    background-color: #A3A3A3;
}

.add-playlist>*{
    display: inline-block;
    margin-right: 10px;
    flex-grow: 1;
}

.playlist-list{
    display: block;
    list-style: none;
    flex-grow: 2;
    overflow-y: scroll;
    min-height: 50px;
    overflow: hidden;
}

.playlist-list>li{
    padding: 10px 0;
    font-size: .8rem;
}

.aside-bot{
    padding-left: 23px;
    z-index: 50;
}

.download-app{
    display: flex;
    align-items: center;
    gap: 10px;
}

.download-app>img{
    width: 10%;
}

.profile{
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.profile>img{
    width: 10%;
    border-radius: 40%;
    background-color: #717179;
}

.spacer{
    width: 80%;
    border-bottom: 1px solid var(--LightGrey);
    margin: 10px 0;
}

/* FOOTER */

footer{
    width: 100vw;
    height: 100px;
    background-color: #282828;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 90;
    overflow-x: hidden;
}

footer>section{
    height: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* SEZIONE BRANO */

.now-playing{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    width: 300px;
}

.now-playing>img{
    width: 15%;
    max-width: 90px;
    min-width: 40px;
}

.n-playing-text>*{
    display: block;
}

.n-playing-text>span, .settings>i{
    color: var(--LightGrey);
}

.playing-icons>i{
    color: var(--LightGrey);
    display: inline-block;
    margin-right: 5px;
}

/* SEZIONE CONTROLLO PLAYER */

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    width: 60%;
}

.player-top{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-shrink: 1;
}

.player-top>i{
    font-size: 23px;
    color: white;
}

.color-white, .hover-color-white:hover{
    color: white;
}

.hover-color-white:hover{
    cursor: pointer;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    width: 60%;
}

.player-top{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-shrink: 1;
}

.player-top>i{
    font-size: 25px;
    color: white;
}

.player-bot{
    display: flex;
    gap: 20px;
    align-items: center;
}

.player-bot>span{
    color: white;
}

.player-bar{
    width: 35vw;
    height: 0.5rem;
    border-radius: 10px;
    background-color: var(--LightGrey);
    position: relative;
}

.player-bar-active{
    width: 10vw;
    height: 0.5rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
}

.player-bar:hover .player-bar-active{
    background-color: var(--Green);
}

.player-bar:hover .player-bar-active::after{
    display: block;
}

/* SEZIONE VOLUME */

.active-volume::after, .player-bar-active::after{
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
    right: -5px;
    transform: translateY(-4px);
}

.volume:hover .active-volume{
    background-color: var(--Green);
}

.volume:hover .active-volume::after{
    display: block;
}

.settings{
    display: flex;
    gap: 15px;
    padding-right: 20px;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
    width: 300px;
}

.volume{
    width: 8vw;
    background-color: var(--LightGrey);
    height: 0.4rem;
    border-radius: 10px;
    position: relative;
}

.active-volume{
    position: absolute;
    left: 0;
    top: 0;
    width: 2vw;
    height: 0.4rem;
    background-color: white;
    border-radius: 10px;
}

.settings>i{
    color: white;
}

/* MEDIA QUERY */


@media all and (max-width: 601px){
    
    .aside-up>ul>li>div{
        display: none;
    }

    .li-no-active, .li-active{
        border: none;
    }

    .aside-icon{
        width: 90%;
    }

    .aside{
        width: 80px;
    }

    .wrapper{
        width: calc(100% - 80px);
    }

    .small-logo{
        display: block;
    }

    .big-logo{
        display: none;
    }

    .aside-playlist{
        display: none;
    }

    .download-app>span, .profile>strong, .spacer{
        display: none;
    }

    .download-app>img{
        width: 50%;
        margin: 10px;
        transform: translateX(-5px);
    }

    .profile>img{
        width: 70%;
    }

    .aside-bot{
        padding-left: 15px;
    }

    .playing-icons>i{
        display: block;
        margin-bottom: 10px;
    }

    .n-playing-text>strong{
        font-size: 12px;
    }

    .n-playing-text>span{
        font-size: 10px;
    }  
    
    .settings{
        gap: 7px;
        padding-right: 5px;
    }

    .player{
        width: 30%;
    }

    .now-playing{
        gap: 7px;
        padding-left: 5px;
    }

    .player-bot{
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .settings{
        width: 40%;
        justify-content: center;
    }

    .now-playing{
        width: 40%;
    }

    .volume{
        flex-grow: 1;
    }
}

@media all and (max-width: 1100px){
    

    .player-bar{
        width: 25vw;
    }
    
    .player-bar-active{
        width: 8vw;   
    }

    .settings{
        gap: 10px;
    }

    .now-playing{
        gap: 10px;
    }
}